<!-- SEARCH BAR -->

<div class="search-header bg-primary text-white py-3 mb-3">
  <div class="container">
    <h4 class="mb-0">Search Trains</h4>
  </div>
</div>
<div class="search-wrapper">

  <div class="container">
    <div class="row g-3">

      <div class="col-md-3">
        <select class="form-select">
          <option>Pune</option>
        </select>
      </div>

      <div class="col-md-3">
        <select class="form-select">
          <option>Nagpur</option>
        </select>
      </div>

      <div class="col-md-3">
        <input type="date" class="form-control" />
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary w-100">
          Modify Search
        </button>
      </div>
      

    </div>
  </div>
</div>

<!-- RESULT TEXT -->
<div class="container mt-3">
  <h6>
    <b>4 Result Found For Pune to Nagpur</b> on 12-12-2023
  </h6>

  <!-- TRAIN BOXES -->
  <div class="row mt-3">

    <!-- BOX 1 -->
    <div class="col-md-6 mb-4">
      <div class="train-box">
        <div class="train-title">NGP HUMSAFAR EX (22141)</div>
        <div class="train-content">
          <div class="time-row">
            <div>
              <b>22:00</b><br />
              PUNE JN<br />
              Thu, 30 Nov
            </div>

            <div class="duration">
              <b>15:05 hrs</b>
            </div>

            <div>
              <b>13:05</b><br />
              NAGPUR<br />
              Fri, 01 Dec
            </div>
          </div>

          <div class="action-btns">
            <button class="btn btn-success btn-sm" (click)="openBooking()">Book Now</button>
            <button class="btn btn-secondary btn-sm ms-2" (click)="openBooking()">
              Check Availability
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- BOX 2 -->
    <div class="col-md-6 mb-4">
      <div class="train-box">
        <div class="train-title"> NGP HUMSAFAR EX (22141)</div>
        <div class="train-content">
          <div class="time-row">
            <div>
              <b>22:00</b><br />
              PUNE JN<br />
              Thu, 30 Nov
            </div>

            <div class="duration">
              <b>15:05 hrs</b>
            </div>

            <div>
              <b>13:05</b><br />
              NAGPUR<br />
              Fri, 01 Dec
            </div>
          </div>

          <div class="action-btns">
            <button class="btn btn-success btn-sm">Book Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BOX 3 -->
    <div class="col-md-6 mb-4">
      <div class="train-box">
        <div class="train-title">NGP HUMSAFAR EX (22141)</div>
        <div class="train-content">
          <div class="time-row">
            <div>
              <b>22:00</b><br />
              PUNE JN<br />
              Thu, 30 Nov
            </div>

            <div class="duration">
              <b>15:05 hrs</b>
            </div>

            <div>
              <b>13:05</b><br />
              NAGPUR<br />
              Fri, 01 Dec
            </div>
          </div>

          <div class="action-btns">
            <button class="btn btn-success btn-sm">Book Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- BOX 4 -->
    <div class="col-md-6 mb-4">
      <div class="train-box">
        <div class="train-title">NGP HUMSAFAR EX (22141)</div>
        <div class="train-content">
          <div class="time-row">
            <div>
              <b>22:00</b><br />
              PUNE JN<br />
              Thu, 30 Nov
            </div>

            <div class="duration">
              <b>15:05 hrs</b>
            </div>

            <div>
              <b>13:05</b><br />
              NAGPUR<br />
              Fri, 01 Dec
            </div>
          </div>

          <div class="action-btns">
            <button class="btn btn-success btn-sm">Book Now</button>
          </div>
        </div>
      </div>
    </div>
     <!-- BOX 5 -->
    <div class="col-md-6 mb-4">
      <div class="train-box">
        <div class="train-title">NGP HUMSAFAR EX (22141)</div>
        <div class="train-content">
          <div class="time-row">
            <div>
              <b>22:00</b><br />
              PUNE JN<br />
              Thu, 30 Nov
            </div>

            <div class="duration">
              <b>15:05 hrs</b>
            </div>

            <div>
              <b>13:05</b><br />
              NAGPUR<br />
              Fri, 01 Dec
            </div>
          </div>

          <div class="action-btns">
            <button class="btn btn-success btn-sm">Book Now</button>
          </div>
        </div>
      </div>
    </div>
     <!-- BOX 6 -->
    <div class="col-md-6 mb-4">
      <div class="train-box">
        <div class="train-title">NGP HUMSAFAR EX (22141)</div>
        <div class="train-content">
          <div class="time-row">
            <div>
              <b>22:00</b><br />
              PUNE JN<br />
              Thu, 30 Nov
            </div>

            <div class="duration">
              <b>15:05 hrs</b>
            </div>

            <div>
              <b>13:05</b><br />
              NAGPUR<br />
              Fri, 01 Dec
            </div>
          </div>

          <div class="action-btns">
            <button class="btn btn-success btn-sm" (click)="openBooking()">Book Now</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- BOOKING MODAL -->
<div class="modal-backdrop" *ngIf="showBooking">

  <div class="modal-card">
    <div class="modal-header">
      <h4>Book Ticket</h4>
      <button (click)="closeBooking()">✖</button>
    </div>

    <div class="train-info">
      <b>Train:</b> Pune Express &nbsp;&nbsp;
      <b>Time:</b> 14:30
    </div>

    <div class="form-row">
      <input type="text" placeholder="Passenger Name" />
      <input type="number" placeholder="Age" />
      <button class="btn btn-primary btn-sm">Add</button>
    </div>

    <table class="table table-bordered mt-2">
      <thead>
        <tr>
          <th>Sr</th>
          <th>Name</th>
          <th>Age</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Sachin</td>
          <td>34</td>
          <td>
            <button class="btn btn-danger btn-sm">Remove</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="modal-footer">
      <button class="btn btn-danger" (click)="closeBooking()">Close</button>
      <button class="btn btn-success">Book Ticket</button>
    </div>
  </div>

</div>

