.search-wrapper {
  background-color: #6c757d;
  padding: 15px 0;
}

.train-box {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.train-title {
  background-color: #6c757d;
  color: #fff;
  padding: 10px 15px;
  font-weight: 600;
}

.train-content {
  padding: 15px;
}

.time-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.duration {
  font-weight: bold;
  color: #333;
}

.action-btns {
  margin-top: 15px;
}


/* for Bokkind deatials of pasaanger detaisl */

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-card {
  background: #fff;
  width: 550px;
  border-radius: 8px;
  padding: 16px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.train-info {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 14px;
}

.form-row {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.form-row input {
  flex: 1;
  padding: 6px;
}

.add-btn {
  background: #0d6efd;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
}

th, td {
  border: 1px solid #ddd;
  padding: 6px;
  text-align: center;
}

.remove-btn {
  background: #dc3545;
  color: white;
  border: none;
  padding: 4px 10px;
  border-radius: 4px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 12px;
}

.close-btn-red {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
}

.book-btn {
  background: #198754;
  color: white;
  border: none;
  padding: 6px 14px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
